<%if false%> 
License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See
Code History:
Engelberg See - 01/21/20 - Generated the registration page
Engelberg See - 01/22/20 - Modified to have a username
Engelberg See - 01/29/20 - Added license, code history and Internal Documentation
John Matthew Ramos - 1/30/20 - Modified HTML code.
File Creation Date: 01/21/20
Development Group: Engelberg See
Purpose: Displays what the user of the application would see when trying to register an account 
<%end%>

<div class="row justify-content-center align-self-center">
  <div class="col-md-6 intro-info order-md-first order-last">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>


    <h2>Sign up</h2>

    <div class="form">

    <h4>Join us!</h4>
    <p>Join thousands of UP Diliman Students who are using our Schedule Optimizer!</p>

    <form action="" method="post" role="form" class="contactForm">
      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
                
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
            
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </form>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
