<%if false%> 
License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See
Code History:
Engelberg See - 01/21/20 - Generated the registration page
Engelberg See - 01/22/20 - Modified to have a username
Engelberg See - 01/29/20 - Added license, code history and Internal Documentation
John Matthew Ramos - 1/30/20 - Modified HTML code.
File Creation Date: 01/21/20
Development Group: Engelberg See
Purpose: Displays what the user of the application would see when trying to register an account 
<%end%>




<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


 <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-60">

            <div class="row">

                <div class="col-lg-6">

                  <div class="footer-info">
                    <h3>Optimizer</h3>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                  </div>
                </div>

                <div class="col-lg-6">
                  
            <div class="form">
              
              <h4>Send us a message</h4>
              <%= render "devise/shared/error_messages", resource: resource %>
              <p>Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                    <%= f.label :username %><br />
                    <%= f.text_field :username %>
                  <div class="validation"></div>
                </div>
                 <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  <div class="validation"></div>
                </div>               
                 <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  <div class="validation"></div>
                </div>               
                 <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  <div class="validation"></div>
                </div>


                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
                <%= render "devise/shared/links" %>


                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
              </form>
            </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">
          </div>

          

        </div>

      </div>
    </div>

    <div class="container">

    </div>
  </footer><!-- #footer -->


  <% end %>