<%if false%>
License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See

Code History:
Engelberg See - 01/21/20 - Created the view for the home page
Engelberg See - 01/22/20 - Modified to show which user is logged in
Engelberg See - 01/29/20 - Added license, code history and Internal Documentation
John Matthew Ramos - 1/30/20 - Modified HTML code.
John Matthew Ramos - 02/10/20 - Edited the UI

File Creation Date: 01/20/20
Development Group: Engelberg See
Purpose: Displays what the user of the application would see when going to the home page
<%end%>

<body>



	<section id="intro" class="clearfix">
	    <div class="container d-flex h-200">
	      <div class="row justify-content-center align-self-center">
	        <div class="col-md-10 intro-info order-md-first order-last">
				<%if user_signed_in?%>
					<h2>Schedule Optimization <br> <span>For Students</span></h2>
	          		<section id="services" class="section-bg">
      					<div id="services container">
				          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
				            <div class="box">
				              <h4 class="title"><a href=""><%= link_to 'Preferred Subjects', preferredsubjects_path %>
								</a></h4>
				              <p class="description">Pick your preferred subjects</p>
				            </div>
				          </div>
				        </div>	
				        <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
				          <div class="box">
				              <h4 class="title"><a href=""><%= link_to 'Courses', courses_path %></li>
								</a></h4>
				              <p class="description">Take a peak at the courses</p>
				            </div>
				          </div>				          
				    </section>        		
	          	<%else%>
			        <img src="<%=asset_path('intro-img.png')%>" alt="" class="img-fluid">
		          	<h2>Schedule Optimization <br> <span>For Students</span></h2>
	          	<%end%>	     
		          	<hr size="10">


<section id="services" class="section-bg">
      <div id="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Optimizer is a schedule optimizer for students that asks for a student's subjects and preferrence then outputs a schedule.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Indicate Subjects</a></h4>
              <p class="description">Allows the user to pick his/her subjects.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Indicate Preferences (Coming Soon)</a></h4>
              <p class="description">Allows the user to pick his/her preferrences from RUPP.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">View Schedule (Coming Soon)</a></h4>
              <p class="description">Allows the user to view their schedule and save it as an image.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

	          	<hr size="10">

		<section id="services" class="section-bg">
		      <div id="container">

		        <header class="section-header">
		          <h3>Let's get started!</h3>
		        </header>
	          	<div>
	          	<img src="<%=asset_path('features-1.png')%>" alt="" class="img-fluid">

	            	<%if admin_signed_in?%>
					  	<h2> ADMIN </h2>
				      	<div>
				      	<div>
					          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
					            <div class="box">
					              <h4 class="title">Signed in as</a></h4>
					              <p class="description"><%= current_admin.email %></p>
					            </div>
					          </div>
					          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
					            <div class="box">
					              <h4 class="title"><a href=""><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link active" %>
</a></h4>
					              <p class="description">See you soon!</p>
					            </div>
					          </div>						          				      		
				      	</div>				    		
				   	<%elsif user_signed_in?%>
				   		<h2> USER </h2>
				      	<div>
					          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
					            <div class="box">
					              <h4 class="title">Signed in as</a></h4>
					              <p class="description"><%= current_user.email %></p>
					            </div>
					          </div>
					          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
					            <div class="box">
					              <h4 class="title"><a href=""><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active" %>
</a></h4>
					              <p class="description">See you soon!</p>
					            </div>
					          </div>						          				      		
				      	</div>
				    <% else %>
					    <%= link_to "User Login", new_user_session_path,  class:"btn btn-get-started" %>
					    <%= link_to "Create New User Account", new_user_registration_path,  class:"btn btn-get-started" %>
					    <%= link_to "Admin Login", new_admin_session_path,  class:"btn btn-get-started" %>
					    <%= link_to "Create New Admin Account", new_admin_registration_path,  class:"btn btn-get-started" %>
				    <%end%>
	          	<div class="col-md-6 intro-info order-md-first order-last">
        		</div>
	          </div>
	        </div>
	    </section>
	      </div>

	    </div>
 	</section>
</body>
