<%if false%> 
License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See

Code History:
Engelberg See - 02/08/20 - Generated Preferred Subjects file, Edited What to show
John Matthew Ramos - 02/13/20 - Made the UI
File Creation Date: 02/08/20
Development Group: Engelberg See
Purpose: Displays preferred subjects screen
<%end%>

<p id="notice"><%= notice %></p>
  <section id="portfolio" class="section-bg">
      <div class="container">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h3 style="color: #413e66;" class="footer-info">Courses</h3>
            </div>

            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
         
                      <a><%= link_to 'Add Preferred Subject', new_preferredsubject_path, class:"cta-btn align-middle" %></a>

                    <tr>
                      <th>Classcode</th>
                      <th>Classname</th>
                      <th>Credits</th>
                      <th>Schedule</th>
                      <th>Room place</th>
                      <th>Instructor</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <%if admin_signed_in?%>
                      <%= link_to 'New Course', new_course_path %>
                    <%end%>
                    
                   <tbody>
    <% @preferredsubjects.each do |preferredsubject| %>
      <tr>
        <td><%= preferredsubject.course.classcode %></td>
        <td><%= preferredsubject.course.classname %></td>
        <td><%= preferredsubject.course.credits %></td>
        <td><%= preferredsubject.course.schedule %></td>
        <td><%= preferredsubject.course.room_place %></td>
        <td><%= preferredsubject.course.instructor %></td>
        <%if false%>
          <td><%= link_to 'Show', preferredsubject %></td>
        <%end%>
        <td><%= link_to 'Edit', edit_preferredsubject_path(preferredsubject) %></td>
        <td><%= link_to 'Delete', preferredsubject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
