<%if false%>
License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See

Code History:
Engelberg See - 02/21/20 - Generated Preferenes file, edited to have choices and associated foreign key to user

File Creation Date: 02/21/20
Development Group: Engelberg See
Purpose: Uses file to get preferences from user
<% end %>

<%= form_with(model: preference, local: true) do |form| %>
  <% if preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
        <% preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="field">
      <%= form.hidden_field :user_id, :value => current_user.id %>
    </div>
  <% end %>


  <div class="container center">
    <div class="row">
      <div class="field">
        <h6>1st Preference</h6>        
          <%= form.select(:choice1, Preference::PREF) %>        
      </div>
    </div>
  </div>
  <br>
  <div class="container center">
    <div class="row">
      <div class="field">
        <h6>2nd Preference</h6>        
          <%= form.select(:choice2, Preference::PREF) %>        
      </div>
    </div>
  </div>
  <br>
  <div class="container center">
    <div class="row">
      <div class="field">
        <h6>3rd Preference</h6>        
          <%= form.select(:choice3, Preference::PREF) %>        
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
