<%if false%>
License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See

Code History:
Engelberg See - 02/22/20 - Generated preferences file, edited what to show
Antonio Cavan - 02/26/20 - Made the UI
Engelberg See - 03/12/20 - Added generated schedule button

File Creation Date: 02/21/20
Development Group: Engelberg See
Purpose: Displays what the user would see when viewing preferences
<%end%>



<p id="notice"><%= notice %></p>
  <section id="services" class="section-bg">
    <div id="container">
        <header class="section-header">
          <h3>Preferences</h3>
          <p></p>
        </header>
      
      <div class="row">
         <% @preferences.each do |preference| %>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><%= preference.choice1 %></h4>
              <p class="description">1st choice</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><%= preference.choice2 %></h4>
              <p class="description">2nd choice</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
             <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><%= preference.choice3 %></h4>
              <p class="description">3rd choice</p>
            </div>
          </div>                   
        </div>
        <br>
        <br>
        <div class="row">
          
        <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box ">
            <h4 class="title"><a href=""><%= link_to 'Generate Schedule', preferences_path %>
            </a></h4>
          <p class="description">Generate your schedule</p>
          </div>
        </div>


          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title"><a href=""><%= link_to 'Edit', edit_preference_path(preference) %>
</a></h4>
              <p class="description">Edit your current preferences.</p>
            </div>
          </div>

          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title"><a href=""><%= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' } %>
</a></h4>
              <p class="description">Reset all settings to default.</p>
            </div>
          </div>
          <br>
          <br>

          <% end %>
          <div class="col-sm-12 col-xs-12 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box ">
          <h4 class="title"><a href=""><%= link_to 'New Preference', new_preference_path %>
</a></h4>
          <p class="description">Set your preferences</p>
            </div>
          </div>
        </div>



      </div>
    </section>









<%if false%>    
    <table>
      <thead>
        <tr>
          <th>Choice 1</th>
          <th>Choice 2</th>
          <th>Choice 3</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @preferences.each do |preference| %>
          <tr>
            <td><%= preference.choice1 %></td>
            <td><%= preference.choice2 %></td>
            <td><%= preference.choice3 %></td>
            <%if false%>
              <td><%= link_to 'Show', preference %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_preference_path(preference) %></td>
            <td><%= link_to 'Reset', preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Preference', new_preference_path %>
<%end%>
