<p id="notice"><%= notice %></p>

<p>
  <strong>Classcode:</strong>
  <%= @course.classcode %>
</p>

<p>
  <strong>Classname:</strong>
  <%= @course.classname %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @course.schedule %>
</p>

<p>
  <strong>Room place:</strong>
  <%= @course.room_place %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
