<!DOCTYPE html>
<html>
  <head>
    <title>Schedule Optimizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- <%= yield %> -->
  <nav class="navbar navbar-expand-lg bg-white border-bottom">
    <%= link_to root_path, class: "navbar-left" do %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Home", home_index_path, class: "nav-link active" %>
        </li>
      </ul>
      <ul class = "navbar-nav">
      </ul>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <%if admin_signed_in?%>
          <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link active" %>
        <%end%>

        <% if user_signed_in?%>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active" %>
        <%end%>
      </ul>
  </nav>

    <div class = "container mt-3" >
      <%= yield %>
    </div>
  </body>
</html>
