<!-- License:
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2019-2020
- Engelberg See

Code History:
Engelberg See - 01/20/20 - Generated the code for the application
Engelberg See - 01/22/20 - Created the navigation bar and some functions such as logout and home
Engelberg See - 01/29/20 - Added license, code history and Internal Documentation
John Matthew Ramos - 01/29/20 - Added Stylesheet-pack-tag for Bootstrap implementation.
John Matthew Ramos - 01/30/20 - Added Bootstrap headers and libraries, modified navbar.

File Creation Date: 01/20/20
Development Group: Engelberg See
Purpose: Displays the navigation bar for the application for the user to have an easier time for the UI -->

<!DOCTYPE html>
<html>
  <head>
    <title>Schedule Optimizer</title>
    <!--FOR BOOTSTRAP AND FRONTEND-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    
  </head>
  <body>

<!-- <%= yield %> -->

  <nav class="navbar navbar-expand-lg bg-white border-bottom">
    <header id="header">
      <div class="container">
        <div class="logo float-left">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav">
                <h1 class="nav-item"><a href="#intro" class="scrollto"><span><%= link_to "Optimizer", home_index_path, class: "nav-link active" %></span></a></h1>
              </ul>
              <ul class = "navbar-nav">
              </ul>
            </div>
        </div> 

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
              <li class="active"><a href="#intro">Home</a></li>
              <!--<li><a href="#about">About Us</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#team">Team</a></li>-->
              <!--<li class="drop-down"><a href="">Drop Down</a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li class="drop-down"><a href="#">Drop Down 2</a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                  <li><a href="#">Drop Down 5</a></li>
                </ul>
              </li>-->
              <!--<li><a href="#footer">Contact Us</a></li>-->
              <li><%if admin_signed_in?%>
                  <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link active" %>
                <%end%>

                <% if user_signed_in?%>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active" %>
                <%end%>
              </li>
            </ul>
            <%= link_to root_path, class: "navbar-left" do %>
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> 
        </nav>      
      </div>
    </header>

    <!-- #header -->
  </nav>


    <div class = "container mt-3" >
      <%= yield %>
    </div>


  </body>
</html>
